[Unit]
Description=Zigbee Music
Requires=mosquitto.service
After=zigbee2mqtt.service mosquitto.service
After=network.target

[Service]
ExecStart=/home/pi/node-v20.18.0-linux-armv7l/bin/node .
WorkingDirectory=/home/pi/zigbee-music
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
